<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/admin.css">
    <script src="/js/cookie.js" defer></script>
</head>
<body>
<button id="authButton" style="display: none;"></button>
<img id="second-image" src="/images/physiotherapy.jpg">
<div id="frame">
    <h1>Јумеихо терапија</h1>
    <div id="menu">
        <a href="admin-terms.html"><img src="/images/schedule.png">Термини</a>
        <a href="users-view.html"><img src="/images/group.png">Корисници</a>
        <a href="adminCoupons.html"><img src="/images/coupon.png">Купони</a>
        <a href="adminNews.html"><img src="/images/megaphone.png">Новости</a>
    </div>
</div>
</body>
</html>