<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/terms.css">
    <script src="/js/cookie.js" defer></script>
</head>
<body>
<button id="authButton" style="display: none;"></button>
    <div id="frame">
        <div id="header">
            <h2>Резервации</h2>
        </div>

        <div>Види ги твоите термини од календарот</div>
        <div id="menu">
            <button id="requested">Предложени</button>
            <button id="reserved">Закажани</button>
            <button id="carried-out">Одржани</button>
        </div>

        <table>
            <thead id="table-head"><tr id="initial-head"></tr></thead>
            <tbody id="requestsTableBody"></tbody>
        </table>
    </div>
<script src="/js/terms.js"></script>
</body>
</html>