<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet"  href="/css/userInfo.css">
  <script src="/js/cookie.js" defer></script>
</head>
<body>
<button id="authButton" style="display: none;"></button>
<h2> Преглед на најнови вести и купони  </h2>
<div id="box">
  <div id="news">
    <h3> Вести</h3>
    <div id="news-frame">
    </div>
  </div>
  <div id="coupons">
    <h3>Купони </h3>
    <div id="coupons-frame">
    </div>
  </div>
</div>
<script src="/js/userInfo.js"></script>
</body>
</html>